API_ID=14837825
API_HASH=0ed849f5e7ab2df61d969317de2ca64c
BOT_TOKEN=6062544343:AAEfmmYm1sMGq0rMmyL087nzSugPApAdcb4
MONGO_DB_URI=mongodb+srv://Cloner:Cloner@cluster0.cgc6t.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001872745275
MUSIC_BOT_NAME=Stetchfy
STRING_SESSION=BAAkIICDEDv8im44KHLihIP8Xhq6kYoEpBOst1jXl7TT96ltGO0vdBsQOi1FcHOaYzhKyAgZXm_k5H_NtY6qkc338nHKq82HUxLOfidUmZpJWpC9e9nZ9SoGE43r2lOufzJFp2XfuYTAerCDeBC6fiN60hCpG3LpfhOQJ5dBAPoLWcrfDFz1f3ZbsFSKrwQUYRtFMlV0RZufC_hZfwlvfKgu77jiQfM9PAhL1iFqHMuPFEm_4v9siBkikuV3NzrCmH2DqN-hspyTlVhAOt7yRQB11xBZ0dQJ_MJfiASxp4tgDwBULdVQvOkoFbT-j5-yECKZvwxl_8q6seTWsLqxTxchAAAAAW3f2RcA
OWNER_ID=1404114574
BOT_USERNAME=stetchfybot
